.subscribe-button{
    padding:10px 15px 10px 15px;
    border:none;
    background-color: rgb(203, 0, 0);
    color:white;
    /* css properties for smooth transition */
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        border 0.3s ease,
        transform 0.6s ease;
    margin-bottom: 60px;
}
.subscribed-button{
    background-color: rgb(255, 255, 255);
    color:black;
    border:1px solid black;
}