.thumbnail {
    width: 100%;
    object-fit: fill;
}

.profile-pic {
    width: 100%;
    object-fit: fill;
    border-radius: 100px;
}

.video-card {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 50px 1fr;
    column-gap: 5px;
}

.video-title {
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-author {
    margin-top: 5px;
}

.video-stats {
    color: rgb(112, 112, 112);
    margin-top: 5px;
    font-size: 14px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    
}