.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(225, 225, 225);
    margin-bottom: 30px;
    gap:10px;
    padding:10px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 1;
}
.header-start{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    padding-left:28px;

}
input{
    width:400px;
    max-width: 500px;
    height: 10px;
    padding:4px;
    font-size: 18px;
    border:none;
}
input:focus{
    outline:none;
}
button{
    width:25px;
    height:25px;
    background-color: transparent;
    border:none;
    padding:0px;
    margin:0px;
}
.voice-icon{
    width: 25px;
    
}
.search-icon{
    width:25px;
    padding:3px 18px 3px 18px;
    border-left:1px solid rgb(211, 211, 211);
    background-color: rgb(235, 231, 231);
    cursor: pointer;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(212, 212, 212);

}
.header-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-left:30px;
    
}
.header-end {
    display: flex;
    align-items: center; 
    gap: 18px;
    flex-shrink: 0;  
    padding-right: 10px;         
}

.profile {
    width: 35px;
}
.icon{
    cursor: pointer;
}

.profile img {
    width: 100%;
    object-fit:cover;
    border-radius: 50%; 
}



